<div class="pickers_dash" ng-init="getPickers();" >
<br><h3>{{title.pickers_dash}}</h3><hr><br>
<div class="row">
    <div class="col-xs-6">
        <h3>Location 1</h3><hr>
        <div>
            <div class="picker" ng-repeat="picker in pickers | filter: {location: 'location1'}  ">{{picker.name}}</div>
        </div>
    </div>
    <div class="col-xs-6">
        <h3>Location 2</h3><hr>
        <div >
            <div class="picker" ng-repeat="picker in pickers | filter: {location:'location2' } ">{{picker.name}}</div>
        </div>
    </div>
</div>

</div>
